body{
    background-color: #795548;
}

.box{
    background-color: white;
    width: 100%;
    height: 10%;
}

.patient_box{
    background-color: #A1887F;
    width: 100%;
    height: 10%;
}
.patient_profile_item{
    font-size: 18px;
}
.navbar a{
    color: #444444 !important;
}
.link-btn{
  cursor: pointer;
  border: none;
  background: none;
  color: #FFCA28;
}
.link-btn:hover{
  text-decoration: underline;
}
.btn-primary {
    color: #795548;
    background-color: #FFCA28;
    border-color: #4CAF50;
}
.bg-light {
    color: #4CAF50;
}
.bg-light {
    background-color: #FFCA28;
}
.table-dark {
    color: #fff;
    background-color: #A1887F;
}
.a_hrefvar {
    color: #FFCA28;
}